<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Portal</title>

<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}" ></script> 
  <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css}">
  <link rel="stylesheet" th:href="@{/resources/demos/style.css}">
   <!-- jQuery library -->
    <script th:src=
"@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}">
    </script>
    <!-- Popper JS -->
    <script th:src=
"@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}">
    </script>
  <script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
  <script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}"></script>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect"th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
<link th:href="@{https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap}" rel="stylesheet">


    <script>
 
    $(document).ready(function(){
   
    	var valuetext=$("#text").val();
    	
    	$("#spinnergrow").hide();
    	
    	if(valuetext == "Active"){
    		$("#spinnergrow").show();
    		$("#text").removeClass("is bg-danger");
    		$("#text").addClass("is bg-success");
    	}
    	else{
    		$("#spinnergrow").hide();
    		$("#text").addClass("is bg-danger");
    		$("#text").removeClass("is bg-success");
    	}
    	
    })
    
    
  </script>
  <style>
body{
 background:linear-gradient(to right,#6441a5, #2a0845);
 font-family: 'Ubuntu', sans-serif;
}
#list{
width:25%;
margin-top:5%;
height:auto;

}  
#head{
margin-top:3%;
width:50%;
z-index:2;
}
#alert{
margin-top:1%;
display:flex;
align-items:center;
justify-content:space-between;

}
 #notify{
 display:flex;
align-items:center;
justify-content:center;
 }
  </style>
</head>

<body>




<div class="container" id="alert">
<i class="fa-solid fa-users fa-2xl" style="color: #ffffff;">&nbsp;&nbsp;USER&nbsp;&nbsp;PORTAL</i>
<a th:href="@{/logoutuser}" id="change"><button class="btn btn-danger"><i class="fa-solid fa-right-from-bracket fa-bounce"></i>&nbsp;LOGOUT</button></a>
</div>

<div class="container text-center" id="head" th:if="${welcome}">
<div class="alert alert-success alert-dismissible fade show" role="alert" >
  <strong th:text="${welcome}"></strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>

<div class="container" id="notify">
<button type="button" class="btn btn-primary position-relative">
  Projects Assigned to you
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" th:text="${size}">
  </span>
</button>
</div>

<div class="container text-center" id="head" th:if="${error}">
<div class="alert alert-warning alert-dismissible fade show" role="alert" >
  <strong th:text="${error}"></strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>


<div class="container" id="list" th:if="${project}">
<ol class="list-group" th:each="projects:${project}">
  <li class="list-group-item d-flex justify-content-between align-items-start" >
    <div class="ms-2 me-auto" th:text="${projects.get('projectname')}">
      </div>
      <span class="spinner-grow text-success text-small" id="spinnergrow"></span>&nbsp;&nbsp;
    <span class="badge bg-danger" id="text"
    th:text="${(projects.get('enddate') > (#dates.createNow())) ? 'Active' : 'Expired'}"
    ></span>
  </li>
  </ol>
</div>




</body>
</html>